pip install
albumentations
comet_ml
coremltools
Flask
ipython
librosa
keras==2.8
Protobuf==4
matplotlib
mss
numpy
onnx
protobuf
onnxruntime
onnxsim
opencv_python_headless
openvino
pafy
pandas
Pillow
psutil
pycocotools
PyYAML
requests

scipy
seaborn
setuptools
sndfile
soundfile
streamlit
tensorflow
tensorflowjs
tensorrt
tflite_runtime
tflite_support
thop
torch
torchvision
tqdm
tritonclient
x2paddle